[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=fax
Comment=fax
PATH=/home/mantunes/git/fax
Exec=fax.sh
Icon=fax.png
Terminal=false
Categories=Network;
