[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=fax
Comment=fax
PATH=/home/mantunes/git/fax
Exec=/home/mantunes/git/fax/fax.sh
Icon=/home/mantunes/git/fax/fax.png
Terminal=false
Categories=Network;
